.custom-btn {
    background: #1677ff !important;
    color: #fff;
    border-radius: 8px;
    padding: 6px 16px;
    font-weight: 600;

    &-primary {
        background: #1677ff !important;
    }

    &:hover {
        opacity: 0.85;
    }
}
